<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPage('/home-jefe')">
        <ion-icon name="home-outline"></ion-icon>
        <!-- <ion-avatar>
          <img [src]="fotoUrl">
        </ion-avatar> -->
      </ion-button>
    </ion-buttons>
    <ion-title>
      Gestión de personal
    </ion-title>
    <ion-buttons slot="end">
      <ion-badge style="margin-right: 5px;" color="danger">{{unreadNotifications}}</ion-badge>
      <ion-icon style="margin-right: 10px;" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="padding-left: 10px; font-size: 22px; color:grey" >Escoge el módulo que quieres revisar</h2>
 
  <ion-item (click)="openListModal(items1, 'Profesionales')">
    <ion-label>Profesionales</ion-label>
  </ion-item>
  
  <ion-item (click)="openListModal(items2, 'Grupo Turno')">
    <ion-label>Grupo Turno</ion-label>
  </ion-item>

  <ion-item (click)="openListModal(items3, 'Tipo Turno')">
    <ion-label>Tipo Turno</ion-label>
  </ion-item>

  <ion-item (click)="openListModal(items4, 'Salas')">
    <ion-label>Salas</ion-label>
  </ion-item>

  <ion-item (click)="openListModal(items5,'Tratamiento')">
    <ion-label>Tratamiento</ion-label>
  </ion-item>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="gestionpersonal" (click)="navigateToPage('/home-jefe-gestionpersonal');selectedTab = 'gestionpersonal'">
        <ion-icon name="people-outline"></ion-icon>
        <div>Gestión</div>
        <div>Personal</div>
      </ion-segment-button>
      <ion-segment-button value="gestionturnos" (click)="navigateToPage('/home-jefe-gestionturnos');selectedTab = 'asignarturnos'">
        <ion-icon name="medkit"></ion-icon>
        <div>Asignar</div>
        <div>Turnos</div>
      </ion-segment-button>
      <ion-segment-button value="estadistica" (click)="navigateToPage('/home-jefe-estadistica');selectedTab = 'estadistica'">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <div> Estadistica </div>
      </ion-segment-button>
      <ion-segment-button value="calendario" (click)="navigateToPage('/home-jefe-calendario');selectedTab = 'calendario'">
        <ion-icon name="calendar-outline"></ion-icon>
        <div> Calendario </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
