<ion-header [translucent]="true" >
  <ion-toolbar>

    <ion-button slot="end" fill="clear" (click)="signOut()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Hola</h1>
    <h2>{{ email }}</h2>

    <ion-card class="message-card">
      <ion-card-content>
        <p>No tienes un rol asignado.</p>
        <p>Dirígete a algún jefe de turno para regularizar tu cuenta.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>